.buttons-container{
	z-index: 1;
}

.btn{
	border-radius: 50%;
	padding: 0;
	width: 68px;
	height: 68px;
	font-size: 30px;
}

.logo{
	cursor: pointer;
	background-color: #fff;
	border-radius: 50%;
	position: fixed;
	top: 15px;
	left: 15px;
	right: auto;
	bottom: auto;
	z-index: 1;
}

.logo img{
	height: 68px;
	width: 68px;
	background-color: #fff;
	border-radius: 50%;
}

.burger{
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 68px;
	height: 68px;
	padding: 0;
	top: auto;
	left: auto;
	z-index: 1;
}

.displayBurgerClicked{
	animation: fade 600ms;
	position: fixed;
	right: 15px;
	bottom: 98px;
	display: none;
	top: auto;
	left: auto;
	z-index: 1;
}

.displayBurgerClicked button{
	margin-bottom: 15px;
	cursor: pointer;
}

.displayBurgerClicked button:last-child{
	margin-bottom: 0;
}

.btn.ig{
	color: #fff;
	background-color: #9c329e;
	border: 0;
}

.btn.ig:hover{
	background-color: #7032b9;
}

a{
	color: inherit;
	text-decoration: none;
}

.arjs-loader {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arjs-loader div {
	text-align: center;
	font-size: 1.25em;
	color: white;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
